<template>
	<a href="#">
		<strong></strong>
		<span></span>
		<img src="" alt="">
	</a>
</template>

<script>
	export default class extends HTMLElement {
		static tagName () {
			return 'product-card';
		}

		onAttachShadow () {
			const t = this.shadowRoot.querySelector('strong')
				, p = this.shadowRoot.querySelector('span')
				, i = this.shadowRoot.querySelector('img');

			t.textContent = this.getAttribute('name');
			p.textContent = '£' + (+this.getAttribute('price')).toFixed(2);
			i.setAttribute('src', this.getAttribute('image'));
			i.setAttribute('title', this.getAttribute('name'));
		}
	}
</script>

<style>
	a {
		position: relative;

		display: block;
		width: 230px;
		height: 230px;
		margin-bottom: 30px;
		padding: 15px;

		color: #fff;
		text-decoration: none;

		background-color: #547ddd;
		border-radius: 10px;
		box-sizing: border-box;
	}
	strong {
		display: block;
		text-transform: uppercase;
	}
	img {
		position: absolute;
		bottom: -15px;
		right: -30px;

		width: 200px;
		height: auto;
		transition: transform 0.4s ease;
	}
	a:hover img {
		transform: translateY(-5px);
	}
</style>
