@import url('https://fonts.googleapis.com/css?family=Karla|Martel:900&display=swap');

.body {
	display: flex;
	align-items: flex-end;
	min-height: 100vh;
	padding: 100px;

	color: #fff;
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	line-height: 1.5em;

	background-color: #201e1c;

	@media (max-width: 800px) {
		padding: 30px;
	}
}

h1 {
	margin-bottom: 20px;
	font-size: 40px;
	font-family: 'Martel', serif;
	font-weight: 900;
}

a {
	color: inherit;
}

ul {
	display: flex;
	margin-top: 30px;
	list-style: none;
	font-size: 16px;
}

li:not(:last-child) {
	margin-right: 30px;
}

svg {
	width: 24px;
	margin-right: 5px;
	vertical-align: middle;
}

path {
	fill: #fff;
}

.img {
	width: 100px;
	height: 100px;
	margin: 0 0 33px -10px;
	border-radius: 50%;
}
