@import "functions";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
	font-family: 'Lowdrag';
	src: url('../fonts/Lowdrag-Regular.woff2') format('woff2'),
		 url('../fonts/Lowdrag-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

$text-color: #4f4d45;
$muted-color: #bbb3a3;
$primary: var(--primary, #e44);

.body {
	padding: size(30);

	color: $text-color;
	@include responsiveSize(16, 21);
	font-family: 'Crimson Text', Georgia, "Times New Roman", serif;

	background-color: $primary;
	transition: background-color 0.5s ease;

	hr {
		margin: size(25) 0 size(20);
		border: none;
		text-align: center;
	}

	hr:after {
		content: '*';
	}
}

.wrap {
	width: calc(100vw - #{size(60)});
	height: calc(100vh - #{size(60)});
	height: calc(var(--vh, 1vh) * 100 - #{size(60)});
	padding: size(50) size(30);
	background-color: #f7f0d9;
	border-radius: size(40);

	overflow: auto;

	h1 {
		color: $primary;
		font-family: 'Lowdrag', sans-serif;
		line-height: 1.2em;

		transition: color 0.5s ease;
	}
}

.inner {
	padding: size(30) 0;
	max-width: size(600);
	margin: auto;
}

.header {
	margin-bottom: size(30);

	h1 {
		white-space: pre-wrap;
		margin-bottom: size(10);
		font-size: 2em;
	}

	h2 {
		color: $muted-color;
		font-family: 'Lowdrag', sans-serif;
		font-size: size(18);
	}

	a {
		color: $muted-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.index {
	h1 {
		font-size: size(55);
	}
}

.large {
	margin: size(30) 0 size(40);
	line-height: 1em;

	font-size: size(35);
	text-align: center;

	em {
		display: block;

		font-style: normal;
		font-size: size(130);
		line-height: 1em;
	}

	@media (max-width: 640px) {
		em {
			font-size: size(70);
		}
	}
}

.lists {
	max-width: size(500);
	margin: auto;
}

.contents {
	margin-top: size(30);
	list-style: none;

	li {
		counter-increment: li;
	}

	a {
		display: flex;
		align-items: center;
		padding: size(30) 0;

		color: $text-color;
		font-size: size(30);
		text-transform: uppercase;
		text-decoration: none;

		border-top: 3px solid change-color($muted-color, $alpha: 0.5);

		@media (max-width: 600px) {
			white-space: pre-wrap;

			span {
				padding-left: size(10);
				line-height: 1.2em;
			}
		}

		&:hover span {
			text-decoration: underline;
		}

		&::before {
			content: counter(li, decimal-leading-zero);
			display: inline-block;
			margin-right: size(15);
			margin-bottom: size(-15);

			color: $muted-color;
			font-size: size(80);
			font-weight: bold;
			line-height: 1em;
		}
	}
}

.details {
	list-style: none;
	text-align: center;

	a {
		display: block;
		padding: size(30) 0;

		color: $text-color;
		font-size: size(21);
		text-transform: uppercase;
		text-decoration: none;

		border-top: 3px solid change-color($muted-color, $alpha: 0.5);

		&:hover {
			text-decoration: underline;
		}
	}
}

.parts {
	text-align: left;

	small {
		display: block;
		color: $muted-color;
		font-weight: bold;
	}

	a:hover {
		text-decoration: none;

		span {
			text-decoration: underline;
		}
	}
}

.article {
	padding-bottom: size(30);

	p:not(:last-child) {
		margin-bottom: size(15);
	}
}
